# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
*.svg

lexer/cmd/cmd
lexer/out/out
lab/block/block
lab/codegen/codegen
lab/generics/generics
lab/goast/goast
lab/walkergen/walkergen

# Third-party dependencies
node_modules/
vendor/

# We're a library, so we shouldn't have the go.sum file committed
go.sum
